asn1crypto==1.2.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.8
Django==2.2.5
django-cors-headers==2.2.0
django-filter==2.3.0
django-filters==0.2.1
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
idna==2.8
itypes==1.2.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Pillow==7.1.2
pycparser==2.19
PyJWT==1.7.1
PyMySQL==0.9.3
pytz==2019.3
requests==2.24.0
six==1.13.0
sqlparse==0.3.0
uritemplate==3.0.1
urllib3==1.25.9
