{%  extends 'blog/base.html' %}


{% block title %}
    {% if tag %}
        标签列表页面:{{ tag.name }}
    {% elif category %}
        分类列表页面:{{ category.name }}
    {% else %}
        首页
    {% endif %}
{% endblock %}



{% block main %}

<ul>
    {% for blog in post_list %}
            <li>
            <a href="{% url 'post-detail' blog.id %}">{{ blog.title }}</a>
            <div>
                <span>{{ blog.category }}</span>
                <span>{{ blog.create_time }}</span>
            </div>
                <hr/>
            <p>{{ blog.content }}</p>
            </li>

    {% endfor %}
</ul>

{% endblock %}





