<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>{{ name }}</h3>


<div>
    {% for x in navs %}
        <a href="#">{{ x.name }}</a>

    {% endfor %}
</div>

<ul>
    {% for blog in post_list %}
            <li>
            <a href="/post/{{ blog.id }}.html">{{ blog.title }}</a>
            <div>
                <span>{{ blog.category }}</span>
                <span>{{ blog.create_time }}</span>
            </div>
                <hr/>
            <p>{{ blog.content }}</p>
            </li>

    {% endfor %}

</ul>


<div>

    <ul>
        {% for x in slidebars %}

            <li>
                <a href="">{{ x.name }}</a>
            </li>

        {% endfor %}

    </ul>

</div>


<div>
    {% for x in normals %}

        <a href="">{{x.name}}</a>

    {% endfor %}

</div>





</body>
</html>